.faq{
    background-color: #413ada;
    padding: 20px 40px 60px 40px;
}
.faq_img{

}
.faq_headline{
    margin: 40px 10px 20px 10px;
}
.faq_mete{
    color: white;
}
.dialog{
    padding: 20px 30px;
    background-image: url(../img/faq/bg_message.jpg);
}
.dialog_wraper{
    max-width: 600px;
    margin: 0 auto;
}
.dialog_blok{

}   
.massage_we{

}
.dialog_text{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #666;
}
.dialog_person{
    background-color: #fff;
    margin-right: 30px;
    border-top-left-radius: 0;
}
.dialog_we{
    background-color: #cbecff;
    margin-left: 30px;
    border-top-right-radius: 0;
}
.dialog_link{
    text-decoration: underline;
}