#menu__toggle {
    opacity: 0;
}
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #00f;
  
    transition-duration: .25s;
}
  .menu__btn > span::before {
    content: '';
    top: -8px;
}
  .menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__btn{
    visibility: hidden;
}
/* END BURGER */
/* MENU */
nav{
    position: fixed;
    /* width: 100%; */
    padding: 0 10px !important;
    max-width: 1200px;
    width: 100%;
    left: calc((100% - 1200px) / 2);
    z-index: 1000;
    background-color: #f3c039;
}
.row{
    /* background-color: #f3c039; */
    margin: 0;
    padding: 10px;
}
.logo{
    padding: 0 10px;
    margin: auto 0;
}
.logo_link{
    
}
.logo_img{
    margin: auto;
    padding: 6px 0;
}
.menu{
    /* margin: auto; */
    margin: 0;
}
.menu_item{
    display: inline-block;
    /* padding: 15px 10px; */
    position: relative;
}
.menu_link{
    display: inline-block;
    padding: 15px 10px;
}

.menu_link,
.sub_menu_link
{
    color: #fff;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 1.1em;
}

.menu_item:hover{
    background-color: #555;
    transition-duration: .45s;
}
.sub_menu{
    display: none;
    margin: 0;
    position: absolute;
    padding: 0;
    list-style-type: none;
    background-color: #555;
    left: 0;
    top: 100%;
    width: 220%;
}
.sub_menu_item:hover{
    background-color: #777;
    transition-duration: .45s;
}
.sub_menu_item{

}
.sub_menu_link{
    padding: 5px 10px;
    display: inline-block;
}
@media only screen and (max-width: 1200px) {
    nav{
        left: 0;
    }
}
@media only screen and (max-width: 1020px) {
    .menu__btn{
        visibility: visible;
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        /* display: none; */
        right: 0;
    }
    .menu{
        visibility: hidden;
        /* display: none; */
    }
    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
    
        width: 230px;
        height: 100%;
    
        margin: 0;
        padding: 40px 0;
    
        background-color: #f56e00;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
        transition-duration: .25s;
    }
    .menu_link{
        width: 100%;
    }
    .menu_item{
        display: block;
    }
    .sub_menu{
        display: none;
        position: static;
        background-color: #f59600;
    }
    .sub_menu_link{
        padding-left: 20px;
    }
    .sub_menu_headline::after{
        content: " \25BC";
    }
    .visible{
        display: block;
    }
}
@media only screen and (min-width: 1020px) {
    .menu_item:hover .sub_menu{
        display: block;
    }
    .visible{
        display: block;
    }
}