@font-face{
    font-family: Primus; /* Имя шрифта */
    src: url(../fonts/Primus.otf); /* Путь к файлу со шрифтом */
}
body{
    font-family: Primus;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #eee;
}
p{
    font-size: 1.2em;
    margin: 0;
}
.wraper{
    margin: 0 auto;
    max-width: 1200px;
}.heder{
    
}
.heder_canvas{
    width: 100%;
}
@media only screen and (max-width: 1020px) {
    .heder_canvas{
        margin-top: 30px;
    }
}